<input type="checkbox" [(ngModel)]="checked_imeprezime" />
<p>
  Filter by ime i prezime
  <br />
  <input
    [(ngModel)]="filter_imeprezime"
    [disabled]="checked_imeprezime ? false : true"
    (ngModelChange)="filter()"
  />
</p>
<input type="checkbox" [(ngModel)]="checked_opstina" />
<p>
  Filter by opstina
  <br />
  <input
    [(ngModel)]="filter_opstina"
    [disabled]="checked_opstina ? false : true"
    (ngModelChange)="filter()"
  />
</p>

<button class="btn btn-primary my-3" (click)="openCloseDialog()">
  Novi student
</button>

<table class="table table-light">
  <tr>
    <th>ID</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Broj indeksa</th>
    <th>Drzava rođenja</th>
    <th>Opstina rođenja</th>
    <th>Datum dodavanja</th>
    <th>Profilna slika</th>
    <th style="text-align: center">Akcija</th>
  </tr>
  <tbody>
    <tr *ngFor="let student of studentPodaci">
      <td>{{ student.id }}</td>
      <td>{{ student.ime }}</td>
      <td>{{ student.prezime }}</td>
      <td>{{ student.broj_indeksa }}</td>
      <td>
        {{
          student.opstina_rodjenja != null
            ? student.opstina_rodjenja.drzava.naziv
            : ""
        }}
      </td>
      <td>
        {{
          student.opstina_rodjenja != null
            ? student.opstina_rodjenja.description
            : ""
        }}
      </td>
      <td>{{ student.created_time | date : "dd.MM.yyyy hh:ss" }}</td>
      <td>
        <img class="profilna-slika" src="{{ student.slika_korisnika }}" />
      </td>
      <td style="display: flex; gap: 5px; justify-content: center">
        <button class="btn btn-danger" (click)="deleteStudent(student)">
          Obrisi
        </button>
        <button class="btn btn-secondary" (click)="openCloseDialog(student)">
          Uredi
        </button>
        <button class="btn btn-link" (click)="redirect(student.id)">
          Maticna knjiga
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-student-edit
  *ngIf="isModalOpen"
  [dialogData]="dialogData"
  (callback)="testirajWebApi()"
  (closeDialog)="closeDialog()"
></app-student-edit>
